**__pycache__/
scratch/
**/scratch/
*.egg-info/
**build/
**dist/
# **results/
results/*
runs/*
cache/*
!results/timing/
.env

.venv/
build_cache/
logs/

kernelgen/level1/
kernelgen/level2/
kernelgen/level3/